@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroud-grid {
  background-image: url("/public/assets/grid.svg");
}

.ql-container {
  border: none !important;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  /* background: #fefcfc; */
}

/* Snow Theme */
.ql-snow.ql-toolbar {
  border: none !important;
  display: block;
  background: #eaecec;
  /* border-top-left-radius: 0.5em; */
  /* border-top-right-radius: 0.5em; */
  border-radius: 0.3em;
}

.ql-editor {
  min-height: 18em;
}

.editor {
  margin-top: 1rem;
  margin-bottom: 8px;
}
